/*Most images (i.e within the cards) have been resized in a photo editor******/
/*Some styles in general******/
*{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

html,body /*This hides the overflow on the right*/
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

:root{
	--color-1: #007bff;
}
body{
	  line-height: 1.5;
	  background: url(images/background.JPG); /* creates a recurring background*/
	  background-size: 240px;
	  background-repeat: repeat;
}

a{
	  text-decoration: none;
}

ul{
	  list-style: none;
}

.list-unstyled{
	list-style-type: none;
}

.title{
	color: #fff;
}

.card-title{
	text-align: center;
	font-weight: 500;
}

.container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.d-flex {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

.align-self-stretch {
	-ms-flex-item-align: stretch !important;
	align-self: stretch !important;
}

.flex-column {
	-webkit-box-orient: vertical !important;
	-webkit-box-direction: normal !important;
	-ms-flex-direction: column !important;
	flex-direction: column !important;
}

.mt-auto {
  margin-top: auto !important;
}

.card{
	margin: 10px 10px 50px 50px;
	background-color: white;
	width: 270px;
	border: 1px solid rgba(92, 163, 221, 0.25);
	border-radius: 30px;
	box-shadow: 0 4px 8px 0px rgba(0,0,0,0.1);
	transition: 0.3s;
	display: flex;
	flex-direction: column;
}

.card-body {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.card-container{
	padding: 50px 0px;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/******BUTTONS!******/
.buttons{
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.btn { /*this defines the btns class, which styles the anchor tag to look like a button*/
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	margin: 2px;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.25rem 0.5rem;
  	font-size: 0.875rem;
 	line-height: 1.5;
	border-radius: 0.2rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}



.btn-info{ /*This is for the info button, it is styled as a secondary button; white background and border color following the text color*/
	color: #17a2b8;
	background-color: #fff;
	border-color: #17a2b8;
}

.btn-info:hover { /*effects for the info button*/
	color: #fff;
	background-color: #138496;
	border-color: #117a8b;
  }
 

.btn-info:focus, .btn-info.focus {
	box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
  }

.btn-buy{ /*This is for the 'buy' button, it is styled as a primary button; background following border color*/
	color: #fff;
  	background-color: #28a745;
  	border-color: #28a745;
}

.btn-buy:hover {
	color: #fff;
	background-color: #218838;
	border-color: #1e7e34;
}

  
.btn-buy:focus, .btn-buy.focus {
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-more{ /*This is for the 'more' button use in info.html, it is styled as a primary button; background following border color*/
	color: #007bff;
  	background-color: #fff;
  	border-color: #007bff;
}

.btn-more:hover {
	color: #fff;
	background-color: #007bff;
	border-color: rgb(0, 123, 255);
}

  
.btn-more:focus, .btn-more.focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-lg{/*Used for info.html card buttons to make large buttons*/
	padding: 0.5rem 1rem;
 	font-size: 1.25rem;
  	line-height: 1.5;
  	border-radius: 0.3rem;
}

.btn-info-more{
	color: #fff;
  	background-color: rgb(103, 187, 212);
  	border-color: rgb(103, 187, 212);
	border-radius: 30px; /*Makes buttons round*/
}

.btn-info-more:hover {
	color: #fff;
	background-color: rgb(182, 141, 66);
	border-color: rgb(182, 141, 66);
}

  
.btn-info-more:focus, .btn-info-more.focus {
	box-shadow: 0 0 0 0.2rem rgb(182, 141, 66);
}

/*********************************************************START OF NAV SECTION*********************************************************/
/**This section styles the navigation bar in the header **/
.nav-container{
	  max-width: 1170px;
	  margin: auto;
}

.row{
	  display: flex;
	  flex-wrap: wrap;
}

.align-items-center{
	  align-items: center;
}

.justify-content-between{
	  justify-content: space-between;
}
  /*header*/
.header{
	  background-color: var(--color-1);
	  padding:12px 0;
	  position: relative;
}
  
.header .logo,
.header .nav{
	  padding:0 15px;
}

.header .logo a{
	  font-size: 30px;
	  color: #ffffff;
	  text-transform: capitalize;
}

.header .nav ul li{
	  display: inline-block;
	  margin-left: 40px;
}

.header .nav ul li a{
	  display: block;
	  font-size: 16px;
	  padding:10px 0;
	  color: rgba(255,255,255,0.7);
	  text-transform: capitalize;
	  transition: all 0.5s ease;
}

.header .nav ul li a:hover,
.header .nav ul li a.active{
	  color: #ffffff;
}

.header #nav-check{
	  position: absolute;
	  opacity:0;
	  pointer-events: none;
}

.nav-toggler{
	  height: 34px;
	  width: 44px;
	  background-color: #ffffff;
	  border-radius: 4px;
	  cursor: pointer;
	  display: none;
	  align-items: center;
	  justify-content: center;
	  margin-right: 110px;
}

.nav-toggler span{
	  display: block;
	  height: 2px;
	  width: 20px;
	  background-color: var(--color-1);
	  position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after{
	 content: '';
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 background-color: var(--color-1);
	 left:0;
}

.nav-toggler span::before{
	  top: -6px;
  }
  .nav-toggler span::after{
	  top: 6px;
}

@media(max-width: 991px){ /* For smaller displays, the nav bar minimises and is opened with a checkbox*/
	  .nav-toggler{
		  display: flex;
	  }
	  .header .nav{
		  position: absolute;
		  left:0;
		  top:100%;
		  width: 100%;
		  background-color: var(--color-1);
		  border-top: 1px solid rgba(255,255,255,0.2);
		  opacity:0;
		  visibility: hidden;
	  }
	  .header .nav ul li{
		  display: block;
		  margin:0;
	  }
	  .header #nav-check:checked ~ .nav{
		 opacity: 1;
		 visibility: visible;
	  }
	  .header #nav-check:focus ~ .nav-toggler{
		  box-shadow: 0 0 15px #000000;
	  }
	  .header #nav-check:checked ~ .nav-toggler span{
		  background-color: transparent;
	  }
	  .header #nav-check:checked ~ .nav-toggler span::before{
		  top:0;
		  transform: rotate(45deg);
	  }
	  .header #nav-check:checked ~ .nav-toggler span::after{
		  top:0;
		  transform: rotate(-45deg);
	  }
}
/*********************************************************END OF NAV SECTION*********************************************************/


/*THIS SECTION STYLES THE HOME PAGE (index.html)******/
/* The grid container define where the content will be on the page. By defining this, we can also make the page responsive; adjusting depending on size of the display*/
.home-grid-container{
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 0.2fr auto auto auto auto 0.8fr;
	grid-template-areas: 
	"header header header header"
	"home-content1 home-content1 home-content1 home-content1"
	"home-content2 home-content2 home-content2 home-content2"
	"home-content3 home-content3 home-content3 home-content3"
	"footer footer footer footer"
	;
}

#home-content1{
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/seasonal.jpg);
	grid-area: home-content1;
}

#home-content2{
	background: rgba(255, 255, 255, 0.95);
	grid-area: home-content2;
}

#home-content3{
	background: rgba(255, 255, 255, 0.95);
	grid-area: home-content3;
}



@media only screen and (max-width:991px) { /*On smaller displays, the content of the webpage is lined up in a single column from header to footer as defined*/
	.home-grid-container{
		grid-template-columns: 1fr;
		grid-template-rows: 0.4fr auto auto auto auto 1fr;
		grid-template-areas: 
		"header"
		"home-content1"
		"home-content2"
		"home-content3"
		"footer";
	}
}

/*For content in general within the tickets page*/

/******* Button styles for the home page********/

.btn-full{ /*red buttons for index.html*/
	color: #fff;
  	background-color: red;
  	border-color: red;
	border-radius: 20px; /*20px is sufficient to make buttons round in this case*/
}

.btn-full:hover {
	color: #fff;
	background-color: rgb(241, 24, 24);
	border-color: rgb(241, 24, 24);
}

#home-content2 .btn{ /* Style content2 */
	width: 85%;
	margin-top: auto;
}

#home-content2 .buttons{
	padding-top: 20px;
}

/******* Main headline (semantics: home-content1)********/

.main-title{
	margin-bottom: 3rem;
	text-align: center;
	font-size: 64px;
}

.section1 {
	color: white;
	text-align: center;
	margin-top: 10%;
	padding: 10px;
}



#home-content1 section{
	padding: 80px 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.seasonal {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/seasonal.jpg);
}

#section1 {
	text-transform: uppercase;
}

#home .card-container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;	
}

#home .card {
	margin: 10px 10px 50px 50px;
	background-color: white;
	width: 270px;
	border: 1px solid rgba(92, 163, 221, 0.25);
	border-radius: 30px;
	box-shadow: 0 4px 8px 0px rgba(0,0,0,0.1);
	transition: 0.3s;
	display: flex;
	flex-direction: column;
}

#home img{
	max-height: fit-content;
	max-width: 100%;
	border-radius: 30px 30px 0 0 ;
}

#home .title{
	color: rgb(255, 255, 255);
	text-align: center;
	justify-content: center;
	padding: 15px 0px;
}

#home .card:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#home .card-body {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
}

#home .card-body ul{
	text-align: center;
	justify-content: center;
	margin: 20px;
}

#home .title p{
	font-size: 18px;
}



/******* Park Banners (semantics: home-content2)********/

#park1, #park2, #park3 p{
	text-align: center;
}

.card-title #park1, #park2, #park3 p{
	text-align: center;
}

#home-content2 .card {
  /* Add shadows to create the "card" effect */
  border-radius: 30px !important;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 0 20px 10px 30px;
}

#home-content2 img{
	border-radius: 30px 30px 0 0 !important;
}

/* On mouse-over, add a deeper shadow */
#home-content2 .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
#home-content2 .card-container {
  padding: 50px 0px;
  align-content: center !important;
}

#home-content2 .row{
	align-content: center !important;
}

/******* "2022 gold pass" (rename?) (semantics: home-content3)********/

#home-content3 h1{
	font-size: 36px;
	font-weight: 700;
}

#home-content3 img{
	border-radius: 0;
}

.container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.container .home-main{
	max-width: auto;
	background: white;
	margin: 10px;
	padding: 15px;
	display: flex;
	margin-bottom: 75px;
	padding-bottom: 30px;
}

.home-main{
	border: 1px solid rgba(128, 112, 112, 0.25);
	box-shadow: 0 4px 8px 0px rgba(0,0,0,0.1);
}

.container .home-main .imgBx{
	max-width: 750px;
	flex: 0 0 auto;

}

.container .home-main .imgBx img{
	max-width: 100%;
}

.container .home-main .content{
	margin-left: 60px;
}

.container .home-main .content p{
	text-justify: auto;
}

@media (max-width:991px){ /*For smaller displays (tablets, mobile phones*/
	
	.container{
		flex-direction:column ;
		align-content: center;
	}

	#home-content3 {
		text-align: center;
	}

}

@media (max-width:1085px){ /*For deskstop computers or larger displays*/
	
	.container{
		flex-direction:column ;
	}

	.container .home-main{
		flex-direction: column;
		max-width: 550px;
	}

	.container .home-main .imgBx{
		flex-direction: column;
		max-width: 100%;
	}

}
  
/*THIS SECTION STYLES THE INFO PAGE (info.html)******/
/* The grid container define where the content will be on the page. By defining this, we can also make the page responsive; adjusting depending on size of the display*/
.info-grid-container{
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 0.2fr auto auto 0.8fr;
	grid-template-areas: 
	"header header header header"
	"cont1 cont1 cont1 cont1"
	"cont2 cont2 cont2 cont2"
	"cont3 cont3 cont3 cont3"
	"footer footer footer footer"
	;
}

#header{
	background: #007bff;
	grid-area: header;
}

#cont1{
	background: rgba(255, 255, 255, 0.95);
	grid-area: cont1;
}

#cont2{
	background: rgba(255, 255, 255, 0.95);;
	grid-area: cont2;
}

#cont3{
	background: rgba(255, 255, 255, 0.95);;
	grid-area: cont3;
}




@media only screen and (max-width:991px) {
	.info-grid-container{
		grid-template-columns: 1fr;
		grid-template-rows: 0.4fr auto auto 1fr;
		grid-template-areas: 
		"header"
		"cont1"
		"cont2"
		"cont3"
		"footer";
	}
}

/*For content in general within the Info page*/

#info .card {
	margin: 10px 25px 50px 35px;
	background-color: white;
	width: 270px;
	border: 1px solid rgba(128, 112, 112, 0.25);
	border-radius: 2px;
	flex-basis: 25%; /*This makes the cards in cont2 for the info page 3 per row, it is changed to 'auto' from 25% so that it stays responsive*/
}

#info .card-container{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#info img{
	max-height: fit-content;
	max-width: 100%;
}

#infos h1{
	font-weight: 650;
	font-size: 34px;
	padding-bottom: 5px;
}

#info .title{
	text-align: center;
	padding: 15px 0px;
}

#info.title p{
	font-size: 18px;
}




/******* Button styles for Info page********/

#cont2 .buttons{ 
	float: right !important;
	justify-content: right !important;
	align-items: right !important;
	display: flex;
	margin-bottom: 5px;
}

/******* PLANNING YOUR VISIT (semantics: cont1) ********/

cont1{
	display:flex;
	justify-content: center;
}

.container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.container .info-main{
	max-width: auto;
	background: white;
	margin: 10px;
	padding: 15px;
	display: flex;
	margin-bottom: 75px;
	padding-bottom: 30px;
}

.info-main{
	border: 1px solid rgba(128, 112, 112, 0.25);
	box-shadow: 0 4px 8px 0px rgba(0,0,0,0.1);
}


.container .info-main .imgBx{
	max-width: 750px;
	flex: 0 0 auto;

}

.container .info-main .imgBx img{
	max-width: 100%;
}

.container .info-main .content{
	margin-left: 60px;
}

.container .info-main .content p{
	text-justify: auto;
}

@media (max-width:991px){ /*For smaller displays*/
	
	.container{
		flex-direction:column ;
	}

	#cont1 {
		text-align: center;
	}
}

@media (max-width:1085px){ /*For larger displays*/
	
	.container{
		flex-direction:column ;
	}

	.container .info-main{
		flex-direction: column;
		max-width: 550px;
	}

	.container .info-main .imgBx{
		flex-direction: column;
		max-width: 100%;
	}

	#cont2 .card{ /*This allows the cards in the info page to be responsive, while maining 3 cards per row on larger displays*/
		flex-basis: auto;
	}
}

/******* INFORMATION CARDS (semantics: cont2) ********/
/* This section is for the information cards on the page. It does not have any hover effects as we believe this will improve readability, and users would be more interested in the content over effects*/
#info .card-body{
	padding: 2px 16px;
}

#park-schedule, #directions, #saftey, #parkmap, #tips, #parking p{
	text-align: center;
}

#cont2 .card-title{
	padding-bottom: 15px;
}

/******* Park information (semantics: cont3) ********/
/*This section uses the same styling instructions as the 'planning your visit' box in cont1*/
#cont3 h2{
	font-size: 36px;
	text-align: center;
}

#cont3 li{
	font-size: 18px;
}

#cont3 p{
	font-size: 18px;
}
/*SECTION-END******/
  
  
/*THIS SECTION STYLES THE TICKETS PAGE******/
/* The grid container define where the content will be on the page. By defining this, we can also make the page responsive; adjusting depending on size of the display*/
.tickets-grid-container{
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 0.2fr auto auto 0.8fr;
	grid-template-areas: 
	"header header header header"
	"content1 content1 content1 content1"
	"content2 content2 content2 content2"
	"content3 content3 content3 content3"
	"content4 content4 content4 content4"
	"content5 content5 content5 content5"
	"footer footer footer footer"
	;
}

header{
	background: #007bff;
	grid-area: header;
}

#content1{
	background: rgba(103, 203, 221, 0.9);
	grid-area: content1;
}

#content2{
	background: rgba(255, 255, 255, 0.95);
	grid-area: content2;
}

#content3{
	background: rgba(74, 127, 196, 0.95); /* opacity is set to 95% to maintain style and readability*/
	grid-area: content3;
	color: rgb(255, 255, 255);
}

#content4{
	background: rgba(255, 255, 255, 0.95);
	grid-area: content4;
}

#content5{
	background: rgba(103, 203, 221, 0.9);
	grid-area: content5;
}

footer{
	grid-area: footer;
}

@media only screen and (max-width:991px) {
	.tickets-grid-container{
		grid-template-columns: 1fr;
		grid-template-rows: 0.4fr auto auto 1fr;
		grid-template-areas: 
		"header"
		"content1"
		"content2"
		"content3"
		"content4"
		"content5"
		"footer";
	}
}

/*For content in general within the tickets page*/
#ticketing .card-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 50px 0px;
}

#ticketing .card {
	margin: 10px 10px 50px 50px;
	background-color: white;
	width: 270px;
	border: 1px solid rgba(92, 163, 221, 0.25);
	border-radius: 30px;
	box-shadow: 0 4px 8px 0px rgba(0,0,0,0.1);
	transition: 0.3s;
}

#ticketing img{
	max-height: fit-content;
	max-width: 100%;
	border-radius: 30px 30px 0 0 ;
}

#ticketing .title{
	color: rgb(255, 255, 255);
	text-align: center;
	justify-content: center;
	padding: 15px 0px;
}

#ticketing .card-title{
	margin-top: 10px;
	text-align: center;
	font-size: 20px;
}

#ticketing .card:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#ticketing .card-body{
	padding: 2px 16px;
}

#ticketing .card-body ul{
	text-align: center;
	justify-content: center;
	margin: 20px;
}

#ticketing .title p{
	font-size: 18px;
}

/******* PARK TICKETS (semantics: content1) ********/
#park_tickets {
	padding: 0px 0px;
}

#park_tickets h1{
	font-weight: 650;
	font-size: 34px;
	padding-bottom: 5px;
}


/******* SEASONAL TICKETS (semantics: content2) ********/

content2{
	display:flex;
	justify-content: center;

}

.container .season-card{
	position: relative;
	max-width: 650px;
	background: white;
	margin: 10px;
	padding: 15px;
	display: flex;
}

.season-card{
	border: 1px solid rgba(234, 238, 8, 0.35);
	box-shadow: 0 4px 8px 0px rgba(0,0,0,0.1);
	border-radius: 10px;
	transition: 0.6s;
}

.season-card:hover{
	box-shadow: 0px 5px 16px 0 rgba(235, 194, 12, 0.425);
}

.container .season-card .imgBx{
	max-width: 150px;
	flex: 0 0 150px;

}

.container .season-card .imgBx img{
	max-width: 100%;

}

.container .season-card .content{
	margin-left: 20px;
}

#content2 .btn{
	width: 35%;
	float: right;
}

@media (max-width:991px){ /*For larger displays, the content in the 'seasonal events' container becomes horizontal, with picture beside text*/
	
	.container{
		flex-direction:column ;
	}
}

@media (max-width:768px){ /*For smaller displays, the content in the 'seasonal events' container becomes vertical, with picture above text*/
	
	.container{
		flex-direction:column ;
	}

	.container .season-card{
		flex-direction: column;
		max-width: 550px;
	}

	.container .season-card .imgBx{
		flex-direction: column;
		max-width: 100%;
	}
	#content2 .btn{ /*Stretches the button to fill the bottom of the container*/
		width: 100% !important;
		float: right !important;
	}

	
}

/******* Before you buy (semantics: content3) ********/
.offer-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.offer{
	width: 250px;
	height: 260px;
	border: none;
	margin-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

#content3 .title{
	padding: 5px;
}

.offer h1{
	font-size: 50;
	text-align: center;
}


.offer h5{
	font-size: 18px;
	text-align: center;
}

.offer p{
	text-align: center;
	margin-top: 10px;
}



@media screen and (max-width:759px){ /*Adds a border depending on the size of the display to segregate different content*/
	.text-border{
		border-bottom: 1px solid black;
	}
	.text-border-1{
		border-bottom: 1px solid black;
	}
}

@media screen and (min-width:765px){
	.text-border{
		border-left: 1px solid black;
		border-right: 1px solid black;
	}
}

@media screen and (min-width:760px){
	.text-border{
		border-left: 1px solid black;
		border-right: 1px solid black;
	}
}

/******* Vacation packages (semantics: content4) to add content below ********/
#content4 p{
	text-align: center;
	justify-content: center;
}

#content4 h3{
	margin: 10px;
	text-align: center;
}

#content4 .card-body{
	margin-bottom: 10px;
}
/******* Merchandise (semantics: content5) to add below ********/
#content5 p{
	text-align: center;
	justify-content: center;
}

#content5 h3{
	margin: 10px;
	text-align: center;
	font-size: 30px;
}

#content5 .card-body{
	margin-bottom: 10px;
}


/******* Button styles for tickets page********/
#park_tickets .btn{
	width: 85%;
}

#content4 .btn{ /******* Vacation packages buttons ********/
	width: 75%;
}

#content5 .btn{/******* Merchandise buttons ********/
	width:75%;
}

/******** FOOTER ********/

footer{
	background-color:#007bff;
	width:100%;
	height: 20px;
	font-size: 20px;
	color: white;
	padding: 15px;
	text-align: center;
	display: flex;
	justify-content: center;
  }

.footer{
		background-color: var(--color-1);
		padding:12px 0;
		position: relative;
}